services:
  wikijs:
    image: requarks/wiki:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - DB_TYPE=postgres
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
      - DB_SSL=${DB_SSL:-false}
    volumes:
      - ./content:/content